<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBc1aTuL6EtEaLJvkpQUY3dav3cWhM43yo</string>
	<key>GCM_SENDER_ID</key>
	<string>294108073307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edgar.multiplefunctional</string>
	<key>PROJECT_ID</key>
	<string>multiplefunctional</string>
	<key>STORAGE_BUCKET</key>
	<string>multiplefunctional.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:294108073307:ios:f8c0c0c31306d43fa61e7e</string>
</dict>
</plist>